<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>General API setup</string>
	<key>host</key>
	<string>rickandmortyapi.com/api</string>
	<key>charactersEndpoint</key>
	<string>character</string>
	<key>filterTypeEndpoint</key>
	<string>species</string>
</dict>
</plist>
